poetry : INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
所在位置 C:\Users\Administrator\AppData\Local\Temp\ps-script-f4a788eb-252c-4fdc-9692-57409da3efdd.ps1:74 字符: 54
+ ... se-service; poetry run alembic upgrade head --sql > migration.sql 2>& ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

INFO  [alembic.runtime.migration] Running upgrade  -> b14572ee46d9, initial_migration
-- Running upgrade  -> b14572ee46d9

CREATE TABLE knowledgebase (
    id VARCHAR(32) NOT NULL, 
    name VARCHAR(128) NOT NULL, 
    description TEXT, 
    language VARCHAR(32), 
    owner_id VARCHAR(32) NOT NULL, 
    tenant_id VARCHAR(32), 
    doc_num INTEGER DEFAULT '0', 
    embd_provider_name VARCHAR(32), 
    embd_model_name VARCHAR(32), 
    rerank_provider_name VARCHAR(32), 
    rerank_model_name VARCHAR(32), 
    parser_id VARCHAR(32) DEFAULT 'general' NOT NULL, 
    parser_config JSON NOT NULL, 
    page_rank INTEGER DEFAULT '0', 
    status VARCHAR(1) DEFAULT '1', 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id)
);

COMMENT ON COLUMN knowledgebase.id IS '主键';

COMMENT ON COLUMN knowledgebase.name IS '知识库名称';

COMMENT ON COLUMN knowledgebase.description IS '知识库描述';

COMMENT ON COLUMN knowledgebase.language IS 'English|Chinese';

COMMENT ON COLUMN knowledgebase.owner_id IS '所有者用户ID';

COMMENT ON COLUMN knowledgebase.tenant_id IS '所属租户ID';

COMMENT ON COLUMN knowledgebase.embd_provider_name IS '默认嵌入模型供应商名称';

COMMENT ON COLUMN knowledgebase.embd_model_name IS '默认嵌入模型名称';

COMMENT ON COLUMN knowledgebase.rerank_provider_name IS '默认重排序模型供应商名称';

COMMENT ON COLUMN knowledgebase.rerank_model_name IS '默认重排序模型名称';

COMMENT ON COLUMN knowledgebase.parser_id IS '解析器类型';

COMMENT ON COLUMN knowledgebase.parser_config IS '解析器配置(JSON格式)';

COMMENT ON COLUMN knowledgebase.page_rank IS '页面排名算法强度，0表示禁用，1-100表示启用且强度递增';

COMMENT ON COLUMN knowledgebase.status IS '状态(0:无效, 1:有效)';

CREATE INDEX ix_knowledgebase_name ON knowledgebase (name);

CREATE INDEX ix_knowledgebase_language ON knowledgebase (language);

CREATE INDEX ix_knowledgebase_owner_id ON knowledgebase (owner_id);

CREATE INDEX ix_knowledgebase_tenant_id ON knowledgebase (tenant_id);

CREATE INDEX ix_knowledgebase_doc_num ON knowledgebase (doc_num);

CREATE INDEX ix_knowledgebase_embd_provider_name ON knowledgebase (embd_provider_name);

CREATE INDEX ix_knowledgebase_embd_model_name ON knowledgebase (embd_model_name);

CREATE INDEX ix_knowledgebase_rerank_provider_name ON knowledgebase (rerank_provider_name);

CREATE INDEX ix_knowledgebase_rerank_model_name ON knowledgebase (rerank_model_name);

CREATE INDEX ix_knowledgebase_status ON knowledgebase (status);

CREATE TYPE processstatus AS ENUM ('init', 'chunking', 'raptoring', 'graphing', 'parsed', 'failed');

CREATE TABLE documents (
    id VARCHAR(36) NOT NULL, 
    kb_id VARCHAR(36) NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    type VARCHAR(20) DEFAULT 'pdf' NOT NULL, 
    suffix VARCHAR(10), 
    file_id VARCHAR(500), 
    size INTEGER DEFAULT '0', 
    parser_id VARCHAR(50) DEFAULT 'general' NOT NULL, 
    parser_config JSON, 
    meta_fields JSON, 
    thumbnail_id VARCHAR(500), 
    source_type VARCHAR(20) DEFAULT 'upload', 
    process_status processstatus DEFAULT 'init', 
    created_by VARCHAR(36) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(kb_id) REFERENCES knowledgebase (id)
);

COMMENT ON COLUMN documents.id IS '文档ID';

COMMENT ON COLUMN documents.kb_id IS '知识库ID';

COMMENT ON COLUMN documents.name IS '文档名称';

COMMENT ON COLUMN documents.description IS '文档描述';

COMMENT ON COLUMN documents.type IS '文档类型';

COMMENT ON COLUMN documents.suffix IS '文件扩展名';

COMMENT ON COLUMN documents.file_id IS '文件唯一标识符';

COMMENT ON COLUMN documents.size IS '文件大小(字节)';

COMMENT ON COLUMN documents.parser_id IS '解析器类型';

COMMENT ON COLUMN documents.parser_config IS '解析器配置(JSON)';

COMMENT ON COLUMN documents.meta_fields IS '文档元数据字段(JSON)';

COMMENT ON COLUMN documents.thumbnail_id IS '缩略图ID';

COMMENT ON COLUMN documents.source_type IS '文件来源';

COMMENT ON COLUMN documents.process_status IS '文档处理状态';

COMMENT ON COLUMN documents.created_by IS '创建者ID';

COMMENT ON COLUMN documents.created_at IS '创建时间';

COMMENT ON COLUMN documents.updated_at IS '更新时间';

INSERT INTO alembic_version (version_num) VALUES ('b14572ee46d9') RETURNING alembic_version.version_num;

COMMIT;

